
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    overflow: hidden;
}

body {
    background-color: white;
    overflow-x: auto;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.chat-wrapper {
    max-height: 100vh;
    overflow: hidden;
}

#chat {
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 151px;
}

.msg-box {
    padding: 3px;
    display: inline-block;
    width: 100%;
}

.msg {
    padding: 5px 15px;
    border: none;
}

.msg-left {
    float: left;
    background-color: #e8e8e8;
    border-radius: 7px 7px 7px 0px;
}

.msg-right {
    float: right;
    background-color: #d1b7fc;
    border-radius: 7px 7px 0px 7px;
}

#bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 80px 50px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 80px 50px rgba(255,255,255,1);
    box-shadow: 0px 0px 80px 50px rgba(255,255,255,1);
    z-index: 2;
}

.commands {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
}

.command {
    border: 1px solid #d8c2ff;
    font-weight: lighter;
    padding: 8px 16px;
    cursor: pointer;
}

.command:hover {
    box-shadow: 0px 0px 5px 1px #d8c2ff;
}

.command:not(:first-child) {
    margin-left: 5px;
}

.command:first-child {
    margin-left: 70px;
}

#micro-box {
    height: 100%;
    text-align: center;
}


#micro {
    background-color: #a774ff;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 10px;
}

#micro-background {
    position: absolute;
    left:0;
    height: 63px;
    width: 100%;
    background-color: transparent;
    padding: 10px 20%;
    z-index: -1;
}

#logo {
    background-image: url('/img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 43px;
    width: 43px;
}

.login-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form .form-group {
    margin-bottom: 0.6rem;
}

.login-form input {
    padding: 1.3rem 1.5rem;
}

.login-logo {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.login-greeting {
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.schedule {
    max-width: 100%;
    margin-top: 10px;
    display: inline-flex;
    overflow-x: auto;
    white-space: nowrap;
}

.schedule-day {
    display: block;
    width:90vw;
    white-space: normal;
}

.schedule-box {
    width: 250px;
    padding: 5px 10px;
    margin: 0px 5px 10px 5px;
    border: 1px solid lightgrey;
    border-left: 8px solid lightgrey;
    border-radius: 7px;
    color: grey;
}

.schedule-box:hover {
    box-shadow: 0px 0px 5px 1px lightgrey;
}

.schedule-course {
    color: black;
}

.course-name {
    margin-right: 10px;
}

.current-lesson {
    border-left: 8px solid;
    border-color: green;
}
.current-lesson:hover {
    box-shadow: 0px 0px 5px 1px green;
}
.next-lesson {
    border-left: 8px solid;
    border-color: orange;
}
.next-lesson:hover {
    box-shadow: 0px 0px 5px 1px orange;
}
.w-brand {
    padding: 0px 15px;
}

.w-logo {
    height: 40px;
    width: auto;
}

.w-login {
    height: 40px;
    line-height: 40px;
    padding: 8px 60px;
    border: 2px solid #a774ff;
    border-radius: 5px;
    font-weight: bold;
    color: #a774ff;
    transition: all .5s ease;
}

.w-text-login-box {
    padding-top: 35px;
}

.w-text-login {
    padding: 10px 50px;
    background-color: #a774ff;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: all .5s ease;
}

.w-text-login:hover {
    background-color: #422574;
    color: white;
    text-decoration: none;
}

.w-h1 {
    font-size: 4em;
    font-weight: bolder;
}

.w-h6 {
    padding-top: 10px;
}

.w-login:hover {
    text-decoration: none;
    border-color: #1d68a7;
}

.w-text {
    padding-top: 25vh;
}

.w-img {
    margin-top: 100px;
    width: 100%;
    height: auto;
    padding: 20px;
}

@media (max-width: 576px) {
    .w-img {
        padding: 0px;
        margin-top: -30px;
        padding-left: 20px;
    }
    .w-h1 {
        font-size: 3em;
    }
    .w-text {
        padding-top: 10vh;
    }
}

@media (max-width: 360px) {
    .w-img {
        margin-top: -50px;
        padding-left: 50px;
    }
    .w-h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 340px) {
    .w-text {
        padding-top: 20vh;
    }
    .w-img {
        margin-top: -20px;
    }
}

@media (max-width: 320px) {
    .w-text {
        padding-top: 15vh;
    }
}

.n-nav {
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.n-brand {
    text-align: center;
}

.n-brand img {
    width: 120px;
}

.n-name {
    padding: 5px 15px;
    margin: 15px;
    margin-left: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #a774ff;
    font-weight: bold;
    color: #a774ff;
}

.n-link {
    padding: 5px 20px;
}

.n-link a {
    color: grey;
}

.n-link a:hover {
    text-decoration: none;
    color: black;
}

.n-active {
    color: black!important;
}

.n-bottom {
    padding-bottom: 30px;
}

.m-wrapper {
    border-left: 1px solid lightgrey;
}

.course-name-2 {
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.s-schedule-box {
    padding: 10px;
}

.s-top-nav {
    padding: 20px 0px;
}

.s-right-content {
    vertical-align: top;
}

.s-box {
    white-space: nowrap;
}

.m-scroll-nav {
    padding: 15px 0px;
}

.m-scroll-nav span:first-child {
    margin-left: 0px!important;
}
